div.bottom_chats_container {
    position: fixed;
    bottom: 0px;
    right: 250px;
    left: 0px;

    /* This container is basically an invisible div covering the bottom half of
     * the screen; it should not interfer with mouse clicks */
    pointer-events: none;

    div {
        pointer-events: auto; /* because the container ignores pointer-events */
    }

    div.chat_window {
        background-color: white;
        width: 230px;
        padding: 0px;
        margin: 0px;
        margin-left: 20px;
        float: right;


        div.title {
            background-color: hsl(226, 52%, 34%);
            color: hsl(200, 80%, 99%);
            border: 1px solid hsl(220, 63%, 26%);
            border-bottom: none;
            height: 28px;
            border-radius: 3px 3px 0px 0px;
        }

        &.highlight {
            div.title {
                background-color: hsl(124, 50%, 57%);
            }
        }

        div.title {
            span.participants {
                display: inline-block;
                vertical-align: middle;
                width: 129px;
                height: 27px;
                line-height: 27px;
                padding: 1px 10px;
                margin-top: -1px;
                margin-left: -1px;

                span.participant.online {
                    border-bottom: 2px solid hsl(100, 70%, 50%);
                }

            }

            span.controls {
                display: inline-block;
                vertical-align: middle;
                width: 80px;
                direction: rtl;
                position: absolute;

                // title controls
                a.ctrl_btn {
                    display: inline-block;
                    vertical-align: middle;
                    height: 28px;
                    line-height: 28px;
                    padding: 0px 9px;
                    text-decoration: none;
                    color: white;
                    text-shadow: 0px 0px 1px black;
                    margin-top: -1px;
                    border-top: 1px solid transparent;
                    transition: 200ms;
                    border-left: 1px solid hsla(220, 80%, 80%, 0.2);

                    &:hover {
                        background-color: hsl(220, 37%, 72%);
                        border-top: 1px solid hsl(220, 30%, 64%);
                        border-left-color: transparent;
                    }
                }


                a.ctrl_btn.right_edge {
                    border-top-right-radius: 2px;
                    margin-right: -1px;
                    border-right: 1px solid transparent;
                    padding-right: 10px;

                    &:hover {
                        border-right: 1px solid hsl(220, 30%, 64%);
                    }
                }
            } // controls
        } // title

        // chat window
        div.notification {
            position: absolute; /* make it "float" above messages */
            font-size: 12px;
            line-height: 14px;
            padding: 3px 5px;
            background-color: hsl(0, 30%, 40%);
            color: hsl(0, 50%, 98%);
            z-index: 1;
        }

        // chat window
        div.settings_menu {
            position: absolute; /* make it "float" above messages */
            z-index: 10;

            font-size: 12px;
            line-height: 14px;

            background-color: hsl(260, 50%, 99%);
            border: 1px solid hsl(0, 0%, 60%);
            box-shadow: 0px 0px 2px 1px hsl(0, 0%, 75%);
            width: 178px;
            margin-left: 118px;
            margin-top: 3px;
            border-radius: 4px;
            padding: 4px 0px;

            div.item {
                padding: 5px 14px;
                font-size: 12px;
                line-height: 12px;
                border-color: transparent;
                border-width: 1px 0px;
                border-style: solid;
                cursor: default;
                transition: 100ms;

                &:hover {
                    background-color: hsl(220, 76%, 62%);
                    color: white;
                    border-color: hsla(220, 50%, 30%, 0.7)
                }
            }
        }

        // chat window
        div.messages {
            height: 235px;
            font-size: 9pt;
            border: 1px solid hsl(0, 0%, 66%);
            border-top: none;
            overflow-y: scroll;
            div.message:last-child {
                border-bottom: none;
            }
            div.message {
                padding: 0px 8px;
                border-bottom: 1px solid hsl(0, 0%, 90%);

                div.name {
                    float: left;
                    margin-right: 3px;
                    margin-top: 1px;
                    font-weight: bold;
                    color: hsl(210, 45%, 30%);
                    &:after {
                        content: ":";
                    }
                }

                div.text {
                    margin-top: 1px;
                    p {
                        margin-bottom: 2px;
                    }
                }
            }
        }

        // chat window
        div.input {
            padding: 0px 2px;
            padding-bottom: 1px;
            border: 1px solid hsl(0, 0%, 66%);
            border-top: none;
            border-bottom: none;

            form {
                margin: 0px;
                padding: 0px;

                textarea.chat {
                    margin: 0px;
                    padding: 1px 2px;
                    width: 214px;
                    font-size: 12px;
                    height: 12px;
                    line-height: 14px;
                    border: none;
                    box-shadow: none;
                    resize: none;
                }
            }
        }

    } // chat window
}


/* ------- buddy list ------ */
div.side_buddies_list {
    position:fixed;
    width:200px;
    right:10px;
    top:150px;
    bottom:0px;
    border:1px solid silver;
    border-bottom:none;
    border-radius:4px 4px 0px 0px;
    background-color:hsl(120,5%,99%);

    &.minimized {
        height:25px;
        top:auto;
        bottom:0px;
    }

    div.title {
        border-radius:4px 4px 0px 0px;
        background-color:hsl(120,5%,86%);
        padding:2px 6px;
        margin-bottom:5px;
        border-bottom:1px solid silver;
        display:block;
        height:21px;
    }

    /* help mode: displayed when no buddies exists */
    div.help {
        color:hsl(120,10%,50%);
        font-family:Verdana;
        text-align:left;
        font-size:12px;
        line-height:16px;
        padding:10px 18px;
    }
    div.buddy {
        display:block;
        padding:5px 7px;
        height:28px;

        &:hover {
            background-color:hsl(120,5%,97%);
        }

        span.avatar {
            width:24px;
            display:inline-block;
            vertical-align:middle;
            height:20px;
            background-color:silver;
            box-shadow:0px 0px 1px 1px white;
            border-radius:2px;
            margin-right:5px;
        }

        span.name {
            display:inline-block;
            vertical-align:middle;
            &.online {
                border-bottom:3px solid hsl(100,70%,50%);
            }
        }

        span.chat {
            float:right;
            display:block;
            background-color:white;
        }
    }
}


