.ib {
  display: inline-block;
  vertical-align: middle;
}

body {
  background-color: white;
  color: #1c2222;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

a, .clickable {
    cursor: pointer;

    &.noptr {
        // This is not used, but since we're enabling the cursor on a elements
        // all the time, we need a way to turn it off
        cursor: default
    }
}


.rtl {
    text-align: right;
    direction: rtl;
}

.ltr {
    text-align: left;
    direction: ltr;
}

@font-face {
    font-family: 'icons';
    src: url('/static/fonts/icons.eot') format('embedded-opentype'),
    url('/static/fonts/icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon_font {
    font-family: icons;
    font-size: 12px;
}

