.topbarColors {
    color: hsla(250, 68%, 30%, 0.8);
    background-color: hsl(240, 45%, 98%);
    border: 1px solid hsla(240, 30%, 40%, 0.4);
}

.infobarPopup {
    z-index: 10;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 0px 0px 8px 8px;
    margin-top: 41px;
    margin-right: 10px;
    min-width: 200px;

    .topbarColors();
    border-top: 0px;
    box-shadow: 0px 1px 5px -2px hsl(240, 40%, 20%);

    .title {
        padding: 9px 22px;
        border-bottom: 1px solid silver;
        text-align: center;
    }

    .body {
        padding: 0px;
        border-radius: 0px 0px 8px 8px;
        background-color: white;

        form {
            margin: 0px;
            padding: 22px;
        }


        .alert {
            width: 172px;
            margin-top: 20px;
        }

        div.section {
            padding: 8px 15px;
            border-top: 1px solid silver;
            &:first-child {
                border-top: none;
            }
            &:hover {
                background-color: hsla(0, 0%, 90%, 0.7);
            }
        }

        // accounts
        div.section.account {
            padding: 10px 18px;
            font-size: 16px;
            padding-bottom: 20px;
            width: 250px;
        }
    }
}

.infobar {
    z-index: 100;
    .topbarColors();
    box-shadow: 0px 1px 5px -2px hsl(240, 40%, 20%);
    border-width: 0px;
    border-bottom-width: 1px;

    padding: 4px 9px;

    a.brand {
        vertical-align: middle;
        color: hsla(250, 68%, 30%, 0.5);
        font-weight: bold;
        font-size: 16pt;
        font-family: Droid Sans;
    }

    table {
        width: 100%;

        td.right {
            text-align: right;
            direction: rtl;
            * {
                text-align: left;
                direction: ltr;
            }
        }

        form.form {
            margin-bottom: 0px;
        }
    }

}

// hack bootstrap's menu
ul.dropdown-menu.visible {
    display: block;
}

form.form-menu {
    margin: 0px 18px;
    width: 122px;
    display: inline-block;
}

.dropdown-menu a [class^="icon-"]{
    vertical-align: middle;
}

