@import url("http://fonts.googleapis.com/earlyaccess/droidarabickufi.css");
@import url("http://fonts.googleapis.com/css?family=Droid+Sans:400,700");

@import url("http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css");
@import url("http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic");

pre, code, pre code { /* override bootstrap's code style */
    background-color: inherit;
    border: none;
    color: hsl(100, 10%, 38%);
    font-size: 10pt;
    line-height: 18pt;
}

ul {
    list-style-position: inside;
}

table {
    border-spacing:0;
}

.sans {
    font-family: 'Droid Arabic Kufi', 'Droid Sans', sans-serif;
}

.serif {
    font-family: 'Droid Arabic Naskh', 'Droid Serif', serif;
}

.profile_link {
    margin-left: 10px;
    background-color: white;
    padding: 10px 14px;
    box-shadow: 0px 0px 2px 1px hsl(0, 0%, 94%);
    border-radius: 4px;
    width: @colwidth - 29;
    border: 1px solid hsl(0, 0%, 80%);
    font-size: 12px;
    line-height: 12px;

    p {
        margin-bottom: 0px;
    }
}

@colwidth: 600px;

div.author_info_box {
    margin: 0px;
    padding: 10px;
    width: @colwidth;
}

div.author_info {
    width: @colwidth - 40px;
    background-color: white;
    box-shadow: 0px 0px 2px 1px gray;
    border-radius: 2px;
    padding: 10px 20px;
    display: inline-block;
    vertical-align: middle;

    font-size: 0px; // to eliminate space between inline blocks

    div.name {
        color: hsl(220, 74%, 26%);
        display: inline-block;
        vertical-align: middle;
        width: @colwidth - (40 + 152);

        h1.name {
            display: inline-block;
            vertical-align: middle;
        }

        div.online_icon {
            display: inline-block;
            vertical-align: middle;
            background-image: url('/static/images/online.png');
            background-repeat: none;
            width: 20px;
            height: 19px;
            margin-left: -10px;
        }
    }

    div.buttons {
        display: inline-block;
        vertical-align: middle;
        width: 152px;
    }
}

.thought-form {
    margin: 0px;
    padding: 10px;
    display: inline-block;
    p.preview {
        width: @colwidth - 15px;
        margin: 0px;
        padding: 7px;
        min-height: 186px;
        max-height: 472px;
        background-color: white;
        border-radius: 5px 5px 0px 0px;
        border: 1px solid silver;
        overflow: auto;
    }
    textarea {
        width: @colwidth - 15px;
        height: 186px;
        margin: 0px;
        padding: 7px;
        resize: none;
        border-radius: 5px 5px 0px 0px;
        font-size: 14px;
        line-height: 20px;
    }
    div.controls {
        width: @colwidth + 1px;
        padding: 0px;
        margin: 0px 0px 3px;
        border-radius: 0px 0px 5px 5px;
        background-color: hsl(270, 5%, 90%);
        border-bottom: 1px solid silver;
        & > div.left {
            width: @colwidth - 90;
            vertical-align:top;
        }
        & > div.right {
            width: 90px;
            text-align: right;
            button.btn.post {
                border: default;
                width: 58px;
                border-radius: 0px 0px 5px;
                margin-top: -1px;
                margin-bottom: -1px;
                margin-right: -1px;
                margin-left: 0px;
            }
            img.loading {
                margin-right: 8px;
            }
        }
        div.left {
            .btn {
                border-top: none;
                border-bottom:none;
                border-radius: 0px;
            }
        }
        & > div {
            margin: 0px;
            padding: 0px;
            display: inline-block;
        }
    }
}

.thought-form.edit {
    padding: 0px;
    margin: 0px;
    border: none;
    p.preview {
        width: @colwidth - 14px;
        padding: 4px 6px;
        border-radius: 0px;
        border-width: 0px 0px 1px 0px;
    }
    textarea {
        width: @colwidth - 14px;
        border-radius: 0px;
        padding: 4px 6px;
        border-width: 0px 0px 1px 0px;
    }
    div.controls {
        width: @colwidth;
        border-radius: 0px;
        margin-bottom: 0px;
        border-bottom: none;
        & > div.right {
            button.btn.post {
                border-radius: 0px;
            }
        }
        div.left {
            .btn:first-child {
                border-left: none;
            }
        }
    }
}

.thought-form.post {
    div.controls {
        div.left {
            .btn:first-child {
                border-radius: 0px 0px 0px 5px;
            }
        }
    }
}


div.thought_box {
    padding: 10px;
    margin: 0px;
    margin-top: 28px;
    display: inline-block;

    /* for smooth transitions */
    opacity: 1.0;
    overflow: hidden;
    transition: 2s;
    /* height: via js; */

    &.hidden {
        opacity: 0.0;
        height: 0px;
        margin: 0px;
    }

    &.hilight {
        border-left: 3px solid hsl(30, 60%, 70%);
        padding-left: 7px;
    }

    &.load_more {
        width: @colwidth;
        padding: 10px;
        margin-top: 7px;
        margin-bottom: 50px;

        button {
            width: @colwidth;
        }
    }

}


@thoughtwidth: @colwidth;

div.thought {
    width: @thoughtwidth;
    box-shadow: 0px 0px 2px 0px hsl(100, 0%, 45%);
    border-radius: 3px;
    background-color: white;
    padding: 0px;
    &.highlighted {
        /* outline: 3px solid hsl(284, 44%, 46%); */
        box-shadow: 0px 0px 2px 2px hsl(284, 44%, 46%);
    }

    .header {
        border-bottom: 1px solid silver;
        padding-top: 4px;
        padding-left: 6px;
        font-size: 0px; // to remove space between inline blocks
        .controls.visible {
            opacity: 1.0;
            .btn {
                box-shadow: none;
                background-image: none;
                background-color: hsla(270, 0%, 95%, 0.26);
                border-color: hsla(0, 0%, 80%, 0.5);
            }
        }
        @authoringwidth: @thoughtwidth - (120 + 40 + 10 + 6);
        .authoring {
            width: @authoringwidth;
            padding-top: 5px;
            .author {
                font-weight: bold;
                color: hsl(210, 30%, 30%);
                font-size: 11pt;
                margin: 0px;
                padding: 0px;
            }
            .timestamp {
                color: hsl(0, 0%, 60%);
                font-size: 8pt;
                margin: 0px;
                padding: 0px;
            }
        }
        .controls {
            text-align: center;
            width: 120px;
            opacity: 0.22;
            .icon_font {
                font-size: 18px;
            }
            .btn {
                background-color: transparent;
                background-image: none;
                border-color: none;
            }
            .btn:hover {
                background-image: none;
                background-color: hsla(270, 0%, 90%, 0.26);
            }
        }
        .avatar {
            width: 40px;
            padding-right: 10px;
            padding-bottom: 4px;
            .placeholder {
                display: inline-block;
                vertical-align: middle;
                height: 40px;
                width: 42px;
                background-color: hsl(0, 0%, 91%);
                border-radius: 2px;
            }
        }
        & > div {
            display: inline-block;
            vertical-align: middle;
        }
    }
    div.comments {
        div.form {
            padding: 4px;
            border-radius: 0px 0px 3px 3px;
        }
        form {
            margin: 0px;
            textarea.comment {
                width: @thoughtwidth - 25px;
                height: 20px;
                line-height: 20px;
                padding: 4px 6px;
                resize: none;
            }
            button.btn.post {
                width: 58px;
            }
        }
        div.comment.load_more {
            text-align: center;
        }
        div.comment {
            padding: 3px 8px;
            div.text {
                *:last-child {
                    padding-bottom: 0px;
                    margin-bottom: 0px;
                }
            }
            div.author {
                display: inline-block;
                float: left;
                margin: 0px;
                padding: 0px;
                margin-right: 3px;
            }
        }
        & > div {
            border-top: 1px solid silver;
            padding: 0px;
            margin: 0px;
            background-color: hsl(150, 70%, 95%);
        }
    }
    div.content {
        p.text {
            padding: 8px;
            padding-bottom: 0px;
        }
    }
}

.thought-search {
    margin-left: 10px;
    padding: 10px 14px;
    width: @colwidth - 29;
    border: 1px solid silver;
    border-radius: 4px;
    background-color: white;
}
