p {
    margin:0;
    padding:10px;
}

div.splash {
    z-index:10;
    border-radius: 8px;
    background-color: hsl(220, 44%, 60%);
    // border: 1px solid hsla(260, 24%, 50%, 0.4);
    box-shadow: 0px 1px 5px 0px hsl(260, 4%, 2%);
    padding: 14px 18px;

    p.notes {
        display:block;
        font-size:24pt;
        color: hsl(260, 40%, 97%);
        text-shadow: 0px 1px 1px hsl(260, 0%, 30%);
    }
}

div.enter {
    text-align:center;
    margin:10px 0px;
    padding-top: 30px;

    a {
        display:inline-block;
        padding:20px 26px;
        font-size:20pt;
        border-radius:4px;
        box-shadow:0px 0px 1px 1px hsl(222,28%,56%);
        cursor:pointer;
        transition:100ms;
        color:hsl(230, 30%, 40%);
        text-shadow:0px 1px 1px white;
        text-decoration:none;
        background-color: hsl(240, 30%, 90%);

        &:hover {
            box-shadow:0px 0px 1px 1px hsl(222,28%,61%);
            color:hsl(230,26%,24%);
        }
    }

    div.notes {
        span {
            display:inline-block;
            padding:5px;
            border-radius:4px;
            font-size:9pt;
            font-style:italic;
            color: hsla(220, 10%, 99%, 0.9);
        }
    }
}

div.note {
    margin-top:80px;
    text-align:center;

    .lead {
        margin-bottom:-4px;
    }
}
